

/* Components: */

/* Editor-page: */

.editor-page {
    padding-top: 20px;
    padding-bottom: 20px;
}

.editor-page > *{
    /* background-color: blue; */
}

.editor-page > .main-canvas-holder {
    margin-inline-end: 20px;
    width: 30%;
}
.editor-page > .control-bar-container {
    margin-inline-start: 20px;
    width: 50%;
}


/* Canvas: */

.main-canvas-holder {
    overflow: hidden;
}

.main-canvas-holder > .main-canvas-container {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 15px 2px #1f1f1f;
}


/* Controls bar */

.control-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: #22af8d; */
    border-radius: 1.5rem;
    /* box-shadow: 0px 0px 15px 2px #1f1f1f; */
}

.control-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border-radius: 5px;
}

.control-bar > * {
    margin-bottom: 10px;
}

.control-bar > .buttons-group-layout > * {
    margin-bottom: 10px;
}

.buttons-group-layout > * > *:not(:last-child) {
    margin-inline-end: 10px;
}

select[name="font-select"] > * {
    font-family: impact;
}

/* little control bar components: */

/* text input: */

.text-picker {
    width: 80%;
    height: 2rem;
}
.text-picker-button-mobile {
    display: none !important;
}

/* line-control */

.add-line-button {
    background-color:#2ecc71;
}
.select-down-button {
    background-color: #3498db;
}
.remove-line-button {
    background-color: #e74c3c;
}

.add-line-button:hover {
    background-color: #27ae60 ;
}
.select-down-button:hover {
    background-color: #2980b9;
}
.remove-line-button:hover {
    background-color: #c0392b;
}

/* text control: */

.text-control-container {
}

.text-control-container button {
    background-color: white;
}

/* Font-picker: */

.font-picker {
    width: 158px;
}

/* general buttuns: */

.general-control-container .save-a img.fill {
    display: none;
}
.save-a.saved img.no-fill {
    display: none;
}
.save-a.saved img.fill {
    display: block;
}

.general-control-container button, .general-control-container a{
    height: 40px;
    background-color: black;
    width: 40px;
    border-radius: 20px;
} 

/* Notice-box: */

.control-bar .notice-box {
    color: black;
}





@media (max-width: 700px) {

    /* new layout: */

    .editor-page {
        flex-direction: column;
        align-items: center !important;
        padding-top: 0;
    }

    .main-canvas-holder {
        width: unset !important;
        border-radius: 7px;
    }

    /* Components: */

    /* Control-bar: */
    
    .editor-page {
        margin-bottom: 70vh !important;
    }
    
    .control-bar-container {
        width: 80% !important;
        min-width: 355px !important;
        margin-inline-start: unset !important;
        position: fixed;
        bottom: 0;
        /* max-width: 80%; */
    }

    .control-bar {
        flex-direction: row !important;
        flex-flow: wrap !important;
    }

    .control-bar > * {
        margin-bottom: unset;
    }

    .buttons-group-layout {
        flex-grow: 1;
        flex-direction: row !important;
        justify-content: center;
    }
    .buttons-group-layout > *:not(p) {
        flex-direction: column !important;
        margin-inline-end: 5px;
    }

    .control-bar > .buttons-group-layout > * {
        margin-bottom: unset !important;
    }

    .buttons-group-layout > * > *:not(:last-child) {
        margin-inline-end: unset;
        margin-bottom: 5px;
    }

    .font-picker {
        align-self: flex-start;
    }

    .text-picker-button-mobile {
        margin-inline-start: 15px;
        margin-bottom: unset !important;
    }

    .text-picker-button-mobile {
        display: flex !important;
    }
    .text-picker-button-mobile .x-image {
        display: none;
    }

    .text-picker {
        display: none;
    }
    .text-picker-open .text-picker {
        display: block;
    }

    .text-picker-open .text-picker-button-mobile {
        background-color: #e74c3cb8;
    }
    .text-picker-open .text-picker-button-mobile .t-image {
        display: none;
    }
    .text-picker-open .text-picker-button-mobile .x-image {
        display: block;
    }

    

    .control-bar button {
        width: 35px !important;
        height: 35px !important;
    }

    .text-picker-button-mobile {
        padding: unset;
        background: aliceblue;
        width: 50px !important;
        height: 50px !important;
        border-radius: 25px !important;
    }
}
