

/* Fonts: */

@font-face {
    font-family: 'apercu';
    src: url(../fonts/apercu/Apercu-Regular.otf);
}

@font-face {
    font-family: 'apercu-bold';
    src:url(../fonts/apercu/Apercu\ Pro\ Bold.otf)
}

@font-face {
    font-family: 'impact';
    src:url(../fonts/impact/impact.ttf)
}


/* General: */

* {
    box-sizing: border-box;
}

html {
    font-family: apercu, serif;
    color: #ffffff;
}

body {
    margin: 0;
    background-color: #34495e;
}

h1, h2, h3, h4, h5 {
    margin: 0 0;
    margin-block-start: unset;
    margin-block-end: unset;
    font-weight: unset;
    font-family: apercu-bold;
}

p {
    margin-block-start: unset;
    margin-block-end: unset;
}

a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

button {
    outline: none;
    background-color: unset;
    cursor: pointer;
    border: unset;
}

input[type="text"] {
    border: none;
    /* -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: wheat; */
    outline: none;
    background-color: #ebeef4;
    padding-inline-start: 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
}



/* Layout: */

.main-container-layout {
    margin-left: 20px;
    margin-right: 20px;
}

.main-content-layout {
    max-width: 1060px;
    margin: 0 auto;
}


/* Pages displaying control: */

.gallery-page, .editor-page {
    display: none !important;
}

body.gallery-open .gallery-page {
    display: block !important;
}
body.editor-open .editor-page {
    display: flex !important;
}


/* Helpers: */

.center-childs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}
.rotate270 {
    transform: rotate(270deg);
}

.light-text {
    color: #ffffff !important;
}

/* Flex-helpers: */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: flex-start;
}

.flex > .fg-1 {
    flex-grow: 1;
}


/* Components: */

/* Main-nav: */

.main-nav {
    height: 100px;
    background-image: linear-gradient(to right, #0f9bb2 , #22af8d, #22af8d) !important;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff !important; 
    /* padding: 0 100px; */
}

.main-nav .logo a {
    font-family: apercu-bold;
}

.main-nav li:not(:last-child) {
    margin-inline-end: 2rem;
}

.main-nav a {
    height: 100px;
    width: 100px;
    /* background-color: black; */
}

.hamburger-button {
    background-color: white;
    align-self: center;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: none;
}


/* page Content */

/* .page-content {
    border-radius: 50px;
    background-color: #4e6275;
    margin-bottom: 20px;
} */

.big-fat-modal {
    border-radius: 50px;
    background-color: #4e6275;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 2px #1f1f1f;
}


@media (max-width: 1140px) {
    .main-content-layout {
        max-width: 830px;
    }

    .main-canvas-holder {
        width: 45% !important;
    }
    .control-bar-container {
        width: 35% !important;
    }
}

/* start of hamburger menu: */
@media (max-width: 900px) {

    .main-content-layout {
        max-width: unset;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-nav {
        height: 65px;
    }

    .hamburger-button {
        display: flex;
    }

    .main-nav ul {
        display: none;
    }
    
    .main-nav li {
        margin-inline-end: unset !important;
    }

    .main-nav ul a{
        height: 40px;
        color: black !important;
        width: unset;
        padding-left: 1rem;
        padding-right: 1rem;
    }    
    .main-nav li:last-child a{
        background-color: white;
        border-radius: 2rem;
    }

    .logo a{
        height: 100%;
        /* display: none; */
    }

    body.hamburger-open .logo {
        display: none;
    }
    body.hamburger-open .main-nav ul {
        display: flex;
    }

}


@media (max-width: 600px) {

    .categories-bar {
        display: none;
    }

    .search-box {
        flex-grow: 1;
    }

    .search-box input {
        width: 100%;
    }
}

@media (max-width: 470px) {
    
}